### Decode ###
status=decode
raw_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/eng.pdtb.pdtb/raw.bmes
nbest=5
decode_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/eng.pdtb.pdtb/raw.out
dset_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/eng.pdtb.pdtb/conn_lstmcrf.dset
load_model_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/eng.pdtb.pdtb/conn_lstmcrf.best.model
