### use # to comment out the configure item

### I/O ###
train_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/train.bmes
dev_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/dev.bmes
test_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/test.bmes
model_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/lstmcrf_auto
word_emb_dir=c:\Uni\RST\edusegmenter\lib\..\vec/cc.zho.300.vec_trim.vec

#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=300
char_emb_dim=50

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[pos] emb_size=20
feature=[genre] emb_size=4
feature=[deprel] emb_size=20
feature=[case] emb_size=4
feature=[morph] emb_size=5
#feature=[tok_len] emb_size=20
#feature=[s_len] emb_size=20
feature=[wid] emb_size=10
feature=[head_dist] emb_size=4
#feature=[sent_doc_percentile] emb_size=20
nbest=5

###TrainingSetting###
status=train
optimizer=AdaGrad
iteration=100
batch_size=100
ave_batch_loss=False

###Hyperparameters###
cnn_layer=2
char_hidden_dim=140
hidden_dim=340
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.005
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
patient=5
