### Decode ###
status=decode
raw_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/raw.bmes
nbest=5
decode_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/raw.out
dset_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/lstmcrf_auto.dset
load_model_dir=c:\Uni\RST\edusegmenter\lib\segmenters\NCRFpp/data/zho.rst.sctb/lstmcrf_auto.best.model
